* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    padding: 10px 20px;
}

figure {
    vertical-align: auto;
    
}

figure img {
    margin: auto;
    width: 100%;
}

.menu-main{
    display: flex;
    justify-content: space-between;
    background: #bfc071;
    border-bottom: 1px solid #353535;
    height: 45px;
}

.menu-main a{
    flex: 1;
    font-family: arial;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
}

.menu-main a:hover{
    background: rgba(0,0,0, .1);
}

.menu-main a.active{
    background-color: #353535;
}

@media (max-width: 768px) {
    
    .menu-main{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .menu-main a{
        height: 30px;
        border-bottom: 1px solid #353535;
    }

}